{% extends "base.html" %}

{% block title %}О нас{% endblock title %}

{% block content %}
    <h1 class="text-center">О нас</h1>
    <p class="lead fs-4">В современном образовании учебные мероприятия проводятся не так эффективно, как могли бы. Создателям образовательных мероприятий приходится тратить много времени на проверку ответов обучающихся, составление рейтинга, анализ результатов. При наличии некоторого инструмента, который решает проблемы, перечисленные выше, организаторы могут значительно сэкономить время на работу, которую можно автоматизировать, и сосредоточится на чем-то более важном (например, на содержании мероприятия или работы, проверки наличия ошибок в работе).</p>
    <p class="lead fs-4 text-center fw-bold">Функционал инструмента для пользователей</p>
    <p class="lead fs-4">Инструмент состоит из следующих основных функциональных блоков:</p>
    <ol class="lead fs-4">
        <li>Регистрация, аутентификации, авторизация;</li>
        <li>Функционал для организатора мероприятий;</li>
        <li>Функционал для участника мероприятий;</li>
        <li>Функционал для пользователей, которые в данный момент времени не являются ни организаторами, ни участниками.</li>
    </ol>
{% endblock content %}