{% extends "base.html" %}

{% block title %}{{ category.name }}{% endblock title %}

{% block content %}
    <h1 class="text-center">{{ category.name }}</h1>
    <div class="row">
        <div class="col-12 col-md">
            <p class="lead fs-4">{{ category.description }}</p>
        </div>
        <div class="col-12 col-md">
            {% if category.image %}
                <img src="{{ category.image.url }}" alt="" class="w-100">        
            {% endif %}
        </div>
    </div>
{% endblock content %}
