{% extends "base.html" %}

{% block title %}Создание мероприятия{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Выберите категорию</h1>
            {% for category in categories %}
                <div class="col-4 gy-3 align-items-stretch">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url "events:category_detail" category.slug %}" class="d-flex justify-content-center card-title text-reset text-decoration-none fs-4">
                                {{ category.name }}
                            </a>
                            <p class="card-text">{{ category.description|truncatewords:10 }}</p>
                            <a href="{{ category.slug }}" class="btn btn-primary d-flex justify-content-center">Выбрать</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}